<mat-form-field>
  <input matInput>
  <mat-select placeholder="Category">

  </mat-select>
</mat-form-field>

<ng-container *ngFor="let article of articles$">
  <mat-card *ngIf="article.content">
    <div class="mat-card-style">
    <div>
      <mat-card-title-group>
        <mat-card-title>
          <a [href]="article.url">{{ article.title }}</a>
        </mat-card-title>
        <mat-card-subtitle *ngIf="article.author">by {{ article.author }}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>{{ article.description }}</mat-card-content>
    </div>
    <img mat-card-md-image class="mat-img" [src]="article.urlToImage">
    </div>
  </mat-card>
</ng-container>
