<mat-toolbar color="primary" fxLayout="row">
  <button class="home" mat-button [routerLink]="['/Home']">News App</button>


  <div *ngIf="auth.user | async; then authenticated else guest">
  </div>

  <ng-template #guest>
    <span class="fill"></span>
    <button mat-raised-button class='loginButton' (click)="auth.googleLogin()">Connect With Google</button>
  </ng-template>

  <ng-template #authenticated>
    <button mat-button [routerLink]="['/Top']">Top Articles</button>
    <button mat-button [routerLink]="['/All']">Search All Articles</button>
    <button mat-button [routerLink]="['/Favorites']">Favorites</button>
    <span class="fill"></span>
    <div class='loginInfo' *ngIf="auth.user | async as user">
      <h3 class="userName">{{ user.displayName }}</h3>
      <img class='avatar' mat-card-avatar [src]="user.photoURL" [routerLink]="['/Favorites']">
    </div>
    <button mat-raised-button class='logoutButton' (click)="auth.signOut()">Logout</button>
  </ng-template>

</mat-toolbar>

<router-outlet></router-outlet>
