<ng-container *ngFor="let article of articles$">
  <mat-card *ngIf="article.content">
    <mat-card-title-group>
      <mat-card-title>
        <a [href]="article.url">{{ article.title }}</a>
      </mat-card-title>
      <mat-card-subtitle *ngIf="article.author">by {{ article.author }}</mat-card-subtitle>
      <img mat-card-sm-image class="mat-img" [src]="article.urlToImage">
    </mat-card-title-group>
    <mat-card-content>{{ article.description }}</mat-card-content>
  </mat-card>
</ng-container>
