/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #dadfea; }
.mat-card {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  margin: 5px;
}

.mat-card-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 67%;
  margin-left: 10px;
}

.img-container {
  width: 150px;
  height: 100px;

}

a {
  color: inherit;
  text-decoration: inherit;
}

.home {
  font-size: larger;
}

.fill {
  flex: 1 1 auto;
}

.ng-template-container {
  justify-content: space-between;
}

.loginInfo{
  display: flex;

}

.avatar {
  margin-left: 10px;
  margin-right: 20px;
  outline: none;
}

.mat-toolbar-container{
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .userName {
    display: none;
  }

  .title {
    display:none;
  }

  .mat-toolbar-container{
    display: flex;
    flex-direction: column;
  }
}

mat-form-field {
  display: flex;
  flex-direction: row;
}
